@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

html.light {
    color: black;
    background-color: #eeeef0;
}

html.dark {
    color: #ffffff;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}
@layer utilities {
  /* .background-light850_dark100 {
    @apply bg-white dark:bg-[#18181b];
  } */
}